// Apple-style footer

.footer-links {
	margin: 8px;
	padding: 0;
	min-width: 200px;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 12px auto;
		font-size: 0.875rem;

		@media #{$tablet} {
			max-width: 300px;
		}

		a {
			color: $secondary-brand-color;
			transition: color 0.2s ease;

			&:hover {
				text-decoration: none;
				color: $brand-color;
			}

			svg {
				fill: $secondary-brand-color;
				margin-right: 8px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -1px;
				width: 20px;
				height: 20px;
			}

			&:hover svg {
				fill: $brand-color;
			}

			&.twitter-icon:hover svg {
				fill: #1da1f2;
			}

			&.google-plus-icon:hover svg {
				fill: #db4437;
			}

			&.youtube-icon:hover svg {
				fill: #ff0000;
			}

			&.instagram-icon:hover svg {
				fill: #e4405f;
			}

			&.linkedin-icon:hover svg {
				fill: #0077b5;
			}

			&.pinterest-icon:hover svg {
				fill: #bd081c;
			}

			&.rss-icon:hover svg {
				fill: #f26522;
			}
		}
	}
}

footer {
	padding: 40px 0 32px;
	font-size: 0.875rem;
	position: relative;
	background: $background-light;
	color: $secondary-brand-color;
	border-top: 1px solid rgba(0, 0, 0, 0.08);

	.copyright {
		font-size: 0.75rem;
		margin: 24px auto 0;
		color: $secondary-brand-color;

		@media #{$tablet} {
			text-align: center;
		}
	}

	&,
	a {
		color: $secondary-brand-color;
	}

	h2 {
		font-size: 1rem;
		font-weight: 600;
		margin: 24px 0 12px;
		color: $brand-color;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -8px;
		justify-content: center;

		@media #{$desktop} {
			justify-content: space-between;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: $brand-color;
		}
	}

	.legal-line {
		width: 100%;
		padding: 24px 0;
		margin: 24px 0 0 0;
		background-color: transparent;
		border-top: 1px solid rgba(0, 0, 0, 0.08);
		text-align: center;
		font-size: 0.75rem;

		a {
			font-weight: 500;
		}
	}
}