// Apple-style landing page sections

.bottom-cta {
	background: $background-light;
	color: $brand-color;
	text-align: center;
	margin: 0;
	padding: 80px 24px;

	@media #{$desktop} {
		padding: 120px 40px;
	}

	h2 {
		margin-bottom: 32px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		margin-top: 16px;
	}
}

.testimonial {
	background: $background-white;
	margin: 0;
	padding: 80px 24px;

	@media #{$desktop} {
		padding: 120px 40px;
	}

	.testimonial-block {
		max-width: 750px;
		width: 100%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: $brand-color;
	text-align: center;
	background: $background-white;
	padding: 60px 24px 80px;

	@media #{$desktop} {
		padding: 100px 40px 120px;
	}

	h1 {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		color: $secondary-brand-color;
		font-size: 1.25rem;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		@media #{$desktop} {
			font-size: 1.5rem;
		}
	}
}

// Project sections with alternating backgrounds
.content section {
	&:nth-child(odd) {
		background: $background-white;
	}

	&:nth-child(even) {
		background: $background-light;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;
		gap: 60px;

		.text,
		.image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0;
		}

		.text {
			h2 {
				margin-bottom: 16px;
			}

			p {
				margin-bottom: 24px;
			}
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

// Project card styling
.project-card {
	text-align: center;

	@media #{$desktop} {
		text-align: left;
	}

	.image {
		margin-bottom: 32px;

		@media #{$desktop} {
			margin-bottom: 0;
		}
	}
}

// Feature highlights grid
.features-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	margin-top: 60px;

	@media #{$tablet} {
		grid-template-columns: repeat(2, 1fr);
	}

	@media #{$desktop} {
		grid-template-columns: repeat(3, 1fr);
	}
}

.feature-item {
	text-align: center;
	padding: 32px;

	h3 {
		margin-bottom: 12px;
	}

	p {
		font-size: 1.125rem;
		margin-bottom: 0;
	}
}